{% extends 'TheGame/navbarTemplate.html' %}

{% block bodyBlock %}

<h1 class="text-center">this is the page for adding new items to the system</h1>

<div class="row justify-content-center">

    <div class="col-3">
        <ul>
            <h2>Current Items</h2>
            {% for item in items %}
            <li>
                {{ item.name }} : {{item.type}}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="formWrapper" style="margin-bottom: 5%" class="form-group form-wrapper col-6 text-center">
        <button onclick="changeToItems()" class="btn btn-info">
            Item form
        </button>

        <button onclick="changeToWeapons()" class="btn btn-info">
            Weapon form
        </button>

        <form action="/validateItem" method="post">
            {% csrf_token %}
            <div class="form-group" id="fg">
                
            </div>
        </form>
    </div>

    <div class="col-3">
        <ul>
            <h2>Current Resources</h2>
            {% for res in resources %}
            <li>
                {{ res.name }}
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

<script>
    function changeToItems(){
        wrapper = document.getElementById("fg")

        wrapper.innerHTML = `
            <input type="text" placeholder="name" name="name" class="form-control" required>
            <br>

            <input type="text" id="typeInput" name="type" class="form-control" placeholder="type" equired>
            <br>

            <input type="number" id="armourValueInput" name="armourValue" class="form-control" placeholder="armour value" required>
            <br>
            
            <input type="number" id="vitBoostInput" name="vitalityBoost" class="form-control" placeholder="vitality boost" required>
            <br>

            <input type="number" id="shieldInput" name="shieldValue" class="form-control" placeholder="shield value" required>
            <br>

            <input type="text" id="specAbilityInput" name="specialAbilities" class="form-control" placeholder="special ability" required>
            <br>

            <input type="text" id="price1ResInput" name="priceRes1" class="form-control" placeholder="resource 1" required>
            <br>

            <input type="number" id="price1Input" name="price1" class="form-control" placeholder="price 1" required>
            <br>

            <input type="text" id="priceRes2Input" name="priceRes2" class="form-control" placeholder="resource 2 (optional)">
            <br>

            <input type="number" id="price2Input" name="price2" class="form-control" placeholder="price 2 (optional)">
            <br>

            <input type="text" id="priceRes3Input" name="priceRes3" class="form-control" placeholder="resource 3 (optional)">
            <br>

            <input type="number" id="price3Input" name="price3" class="form-control" placeholder="price 3 (optional)">
            <br>

            <input type="hidden" name="itemType" value="item" />

            <button type="submit" class="btn btn-primary">Create Item</button>
        `
    }

    function changeToWeapons(){
        wrapper = document.getElementById("fg")

        wrapper.innerHTML = `
            <input type="text" placeholder="name" name="name" class="form-control" required>
            <br>

            <input type="text" id="typeInput" name="type" class="form-control" placeholder="type" required>
            <br>

            <input type="number" id="damageNumberInput" name="damageNumber" class="form-control" placeholder="damage number" required>
            <br>
            
            <input type="number" id="damageInstancesInput" name="damageInstances" class="form-control" placeholder="damage instances" required>
            <br>

            <input type="number" id="rangeInput" name="range" class="form-control" placeholder="range" required>
            <br>

            <input type="text" id="associatedInput" name="associated" class="form-control" placeholder="associated" required>
            <br>

            <input type="number" id="apCostInput" name="ap_cost" class="form-control" placeholder="ap cost" required>
            <br>

            <input type="text" id="price1ResInput" name="priceRes1" class="form-control" placeholder="resource 1" required>
            <br>

            <input type="number" id="price1Input" name="price1" class="form-control" placeholder="price 1" required>
            <br>

            <input type="text" id="priceRes2Input" name="priceRes2" class="form-control" placeholder="resource 2 (optional)">
            <br>

            <input type="number" id="price2Input" name="price2" class="form-control" placeholder="price 2 (optional)">
            <br>

            <input type="text" id="priceRes3Input" name="priceRes3" class="form-control" placeholder="resource 3 (optional)">
            <br>

            <input type="number" id="price3Input" name="price3" class="form-control" placeholder="price 3 (optional)">
            <br>

            <input type="hidden" name="itemType" value="weapon" />

            <button type="submit" class="btn btn-primary">Create Item</button>
        `
    }

    changeToItems();

</script>

{% endblock %}