{% extends 'TheGame/navbarTemplate.html' %}

{% block bodyBlock %}
<h1>this is the page for adding new items to the system</h1>

<button onclick="changeToItems()">
    Item form
</button>

<button onclick="changeToWeapons()">
    Weapon form
</button>

<div id="formWrapper" style="margin-bottom: 5%">
    <form action="/validateItem" method="post">
        {% csrf_token %}
        <div class="form-group" id="fg">
            
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <ul>
                <h2>Current Items</h2>
                {% for item in items %}
                <li>
                    {{ item.name }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-6">
            <ul>
                <h2>Current Reources</h2>
                {% for res in resources %}
                <li>
                    {{ res.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<script>
    function changeToItems(){
        wrapper = document.getElementById("fg")

        wrapper.innerHTML = `
            <input type="text" placeholder="name" name="name" class="form-control form-control-lg" required>
            <br>

            <label for="priceInput">type</label>
            <input type="text" id="typeInput" name="type" required>
            <br>

            <label for="armourValueInput">armour value</label>
            <input type="number" id="armourValueInput" name="armourValue" required>
            <br>
            
            <label for="vitBoostInput">vitality boost</label>
            <input type="number" id="vitBoostInput" name="vitalityBoost" required>
            <br>

            <label for="shieldInput">Shield value</label>
            <input type="number" id="shieldInput" name="shieldValue" required>
            <br>

            <label for="specAbilityInput">special abilities</label>
            <input type="text" id="specAbilityInput" name="specialAbilities" required>
            <br>

            <label for="priceRes1Input">Resource 1</label>
            <input type="text" id="price1ResInput" name="priceRes1" required>
            <br>

            <label for="price1Input">Price 1</label>
            <input type="number" id="price1Input" name="price1" required>
            <br>

            <label for="priceRes2Input">Resource 2</label>
            <input type="text" id="priceRes2Input" name="priceRes2">
            <br>

            <label for="price2Input">Price 2</label>
            <input type="number" id="price2Input" name="price2">
            <br>

            <label for="priceRes3Input">Resource 3</label>
            <input type="text" id="priceRes3Input" name="priceRes3">
            <br>

            <label for="price3Input">Price 3</label>
            <input type="number" id="price3Input" name="price3">
            <br>

            <input type="hidden" name="itemType" value="item" />

            <button type="submit" class="btn">Create Item</button>
        `
    }

    function changeToWeapons(){
        wrapper = document.getElementById("fg")

        wrapper.innerHTML = `
            <input type="text" placeholder="name" name="name" class="form-control form-control-lg" required>
            <br>

            <label for="priceInput">type</label>
            <input type="text" id="typeInput" name="type" required>
            <br>

            <label for="damageNumberInput">damage number</label>
            <input type="number" id="damageNumberInput" name="damageNumber" required>
            <br>
            
            <label for="damageInstancesInput">damage instances</label>
            <input type="number" id="damageInstancesInput" name="damageInstances" required>
            <br>

            <label for="rangeInput">range</label>
            <input type="number" id="rangeInput" name="range" required>
            <br>

            <label for="associatedInput">associated</label>
            <input type="text" id="associatedInput" name="associated" required>
            <br>

            <label for="apCostInput">ap cost</label>
            <input type="number" id="apCostInput" name="ap_cost" required>
            <br>

            <label for="priceRes1Input">Resource 1</label>
            <input type="text" id="price1ResInput" name="priceRes1" required>
            <br>

            <label for="price1Input">Price 1</label>
            <input type="number" id="price1Input" name="price1" required>
            <br>

            <label for="priceRes2Input">Resource 2</label>
            <input type="text" id="priceRes2Input" name="priceRes2" >
            <br>

            <label for="price2Input">Price 2</label>
            <input type="number" id="price2Input" name="price2" >
            <br>

            <label for="priceRes3Input">Resource 3</label>
            <input type="text" id="priceRes3Input" name="priceRes3" >
            <br>

            <label for="price3Input">Price 3</label>
            <input type="number" id="price3Input" name="price3" >
            <br>

            <input type="hidden" name="itemType" value="weapon" />

            <button type="submit" class="btn">Create Item</button>
        `
    }

</script>

{% endblock %}