<!DOCTYPE html>
<html>
<style>
/*<!--
sets up the different sprites
character is the bounding box, the default position is entirely within it
-->*/

#character {
    width: 384px;
    height: 768px;
    position: relative;
}
#body {
    width: 384px;
    height: 768px;
    position: absolute;
    z-index:-2;
    background:url(sprites/body.png);
}
#arm {
    width: 768px;
    height: 768px;
    position: absolute;
    z-index:-1;
    background:url(sprites/arm.png);
}



</style>
<body>
    <p>
        <!--buttons, for testing-->
        <button onclick="setup()">Setup</button> 
        <button onclick="attack()">Attack</button> 
        <button onclick="rotateArm(45)">Rotate arm</button> 
    </p>
    <div id ="character">
        <div id ="body"></div>
        <div id ="arm"></div>
    </div>
    
    <script>
        var id = null;
        
        function setup() {
            //variables 
            var body = document.getElementById("body");
            var arm = document.getElementById("arm");
            
            //for each part, it is placed in the default position           
            
            arm.style.top = '-160px'; 
            arm.style.left = '-208px';
            arm.style.transform = 'rotate(60deg)';
        }
        
        function attack() {
            //variables
            var character = document.getElementById("character");
            var arm = document.getElementById("arm");
            var body = document.getElementById("body");
            pos = 0;
            deg = 0;
            
            //move forward
            clearInterval(id);
            id = setInterval(moveForward, 1);
            function moveForward() {
                if (pos > 320) {
                    clearInterval(id);
                }
                else {
                    pos+=4;
                    character.style.left = pos + 'px';
                    //arm.style.left = (+pos - 208) + 'px';
                    //body.start.left = (+pos) + 'px';
                }
            }
            
            
            //swing            
            
            //move back
            /*
            not sure why this doesn't work when uncommented
            clearInterval(id);
            id = setInterval(moveBackwards, 1);
            function moveBackwards() {
                if (pos <= 0) {
                    clearInterval(id);
                }
                else {
                    pos-=4;
                    character.style.left = pos + 'px';
                    //arm.style.left = (+pos - 208) + 'px';
                    //body.start.left = (+pos) + 'px';
                }
            }
            */
            
            ////temporary
            //deg = 0;
            //clearInterval(id);
            //id = setInterval(frame, 10);
            //function frame() {
            //    if (deg > 360) {
            //        deg = 0;
            //        clearInterval(id);
            //    }
            //    else {
            //        deg++; 
            //    }
            //    arm.style.transform = 'rotate(' + deg + 'deg)';
            //}
        }

        
        setup(); //runs setup after the page has loaded, so the character is in default position
    </script>
</body>
</html>