{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css' %}">
{% endblock %}

{% block bodyBlock %}

<div class="container" style="color:white;">
    <div class="row">
        <div class="col-sm">
            <h1>Character image</h1>
        </div>

        <div class="col-sm">
            <div class="container-floating stat-highlight">
                <ul>
                    <h3>Stats:</h3>
                    <li>
                        Health: {{champion.pHealth}}
                    </li>
                    <li>
                        Athletics: {{champion.pAthletics}}
                    </li>
                    <li>
                        Brains: {{champion.pBrain}}
                    </li>
                    <li>
                        Control: {{champion.pControl}}
                    </li>
                </ul>
            </div>
            <div class="container-floating stat-highlight">


            </div>
        </div>

        <div class="col-sm">
            <div class="container-floating stat-highlight">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>Average joe's stats</h3>
                        <button onclick="fightAverageJoe()">
                            <h1>Fight 'Average Joe'</h1>
                        </button>
                    </li>
                    {% for boss in bosses %}
                    <li class="">
                        <button onclick="fightBoss('{{boss.pk}}')">
                            <h1>Fight {{boss.name}}</h1>
                        </button>
                        <div class="row">
                            <div>Health: {{boss.pHealth}}</div>
                            <div class="col-4">
                                Athletics: {{boss.pAthletics}}
                            </div>
                            <div class="col-4">
                                Control: {{boss.pControl}}
                            </div>
                            <div class="col-4">
                                Brains: {{boss.pBrains}}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<script>
    function fightAverageJoe() {
        window.location.href = "battle"
    }

    function fightBoss(bossPK){
        // this function will be called once the user has selected a boss to fight
        // it will be passed the primary key of the boss
        // it will redirect to [root]/battle?id=bossPK

        var url = `/battle?id=${bossPK}`;
        window.location.href = url;

    }
</script>


{% endblock %}