{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css' %}">
{% endblock %}

{% block bodyBlock %}

<div class="container" style="color:white;">
    <div class="row">
        <div class="col-sm">
            <h1>Character image</h1>
        </div>

        <div class="col-sm">
            <div class="container-floating stat-highlight">
                <h3>Stats:</h3>
                <p>
                    Health: {{champion.pHealth}}<br>
                    Athletics: {{champion.pAthletics}}<br>
                    Brains: {{champion.pBrain}}<br>
                    Control: {{champion.pControl}}
                </p>
            </div>
        </div>

        <div class="col-sm">
            <div class="container-floating stat-highlight">
                    <h3>Average joe's stats</h3>
                    <button onclick="fightAverageJoe()">
                        <h1>Fight 'Average Joe'</h1>
                    </button>
                    {% for boss in bosses %}
                        <button onclick="fightBoss('{{boss.pk}}')">
                            <h1>Fight {{boss.name}}</h1>
                        </button>
                        <div class="row">
                            <div>Health: {{boss.pHealth}}</div>
                            <div class="col-4">
                                Athletics: {{boss.pAthletics}}
                            </div>
                            <div class="col-4">
                                Control: {{boss.pControl}}
                            </div>
                            <div class="col-4">
                                Brains: {{boss.pBrains}}
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>


<script>
    function fightAverageJoe() {
        window.location.href = "battle"
    }

    function fightBoss(bossPK){
        // this function will be called once the user has selected a boss to fight
        // it will be passed the primary key of the boss
        // it will redirect to [root]/battle?id=bossPK

        var url = `/battle?id=${bossPK}`;
        window.location.href = url;
    }
</script>


{% endblock %}