{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-md-3 order-md-3 container">
            <div class="stat-highlight">
                <h1>Character Image</h1>

            </div>
        </div>
        <div class="col-md-6 order-md-3 container">
            <div class="row stat-highlight">
                <h1>Inventory</h1>
                {%for i in items%}
                    <button class="col-sm-4 top-bar-button" type="submit">
                        <p>{{i.name}}</p>
                        <p>{{i|safe}}</p>
                    </button>
                {%endfor%}
            </div>
        </div>
        <div class="col-md-3 order-md-3 container">
            <div class="stat-highlight">
                    <h3>Stats:</h3>
                    <p>
                    Health: {{champion.pHealth}}<br>
                    Athletics: {{champion.pAthletics}}<br>
                    Brains: {{champion.pBrain}}<br>
                    Control: {{champion.pControl}}
                    </p>
            </div>
        </div>
    </div>
    </div>

  {% endblock%}
</html>
