{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="stat-highlight">
                    <h1>Character Image</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="row stat-highlight">
                    <h1>Shop</h1>
                    {%for i in allItems%}
                        <input type="hidden" name="itemPk" value={{i.pk}} />
                        <button class="col-sm-3 top-bar-button" type="submit" onclick="submitData({{i.pk}})">
                            <p>{{i.name}}</p>
                            <p>{{i|safe}}</p>
                            <p>{{i.price}}</p>
                        </button>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="stat-highlight">
                    <ul>
                        <h3>Resources:</h3>
                        {%for r in resources%}
                        <li>
                            {{r.0}}: {{r.1}}
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        function submitData(pk)
        {
            let url = "/buyItem/"
            const csrftoken = getCookie('csrftoken');

            let xhr = new XMLHttpRequest();
            xhr.open("POST", url);

            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhttp.setRequestHeader("X-CSRFToken", csrftoken);

            xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                console.log(xhr.responseText);
            }};

            let data = `{
                "itemPk": ${pk}
            }`;

            xhr.send(data);


            console.log(pk);
        }
    </script>

  {% endblock%}
</html>
