{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
<link rel="stylesheet" href="{% static 'TheGame/styles/character_show.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-md-3 order-md-1 order-1 container">
            <div class="stat-highlight">
                <h1>Character</h1>
            </div>
            
            <div id ="Character">
                <div id ="BodyShield"></div>
                <div id ="Body"></div>
                <div id= "ArmShield"></div>
                <div id ="Weapon"></div>
                <div id ="Arm"></div>
            </div>
        </div>
        <div class="col-md-6 order-md-2 order-3 container">
            <div class="row stat-highlight">
                <h1>Shop</h1>
                {%for i in allItems%}
                    <button class="col-sm-4 top-bar-button" type="submit" onclick="submitData('{{i.pk}}')">
                        <p>{{i.name}}</p>
                        <p>{{i|safe}}</p>
                        <p>{{i.priceRes1}}{{i.price1}}</p>
                        {% if i.priceRes2 %}
                        <p>{{i.priceRes2}}{{i.price2}}</p>
                        {% endif %}
                        {% if i.priceRes3 %}
                        <p>{{i.priceRes3}}{{i.price3}}</p>
                        {% endif %}
                    </button>
                {%endfor%}
            </div>
        </div>
        <div class="col-md-3 order-md-3 order-2 container">
            <div class="stat-highlight">
                    <h3>Resources:</h3>
                <ul>
                    {%for r in resources%}
                        <p>{{r.0}}: {{r.1}}<br></p>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    </div>

    <script>
        function submitData(pk)
        {
            let url = "/buyItem/"
            const csrftoken = getCookie('csrftoken');

            let xhr = new XMLHttpRequest();
            xhr.open("POST", url);

            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("X-CSRFToken", csrftoken);

            xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                console.log(xhr.responseText);
                window.location.reload()
            }};
            xhr.send(JSON.stringify({"itemPk": pk}));

            console.log(pk);
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>

<script> 

    function setupCharacter(Class, Weapon) {
        //left character variables
        var Body = document.getElementById("Body");
        var bShield = document.getElementById("BodyShield");
        var Arm = document.getElementById("Arm");
        var aShield = document.getElementById("ArmShield");
        var weapon = document.getElementById("Weapon");
        
        //sets sprites to the correct sprite and size
        Body.style.background = 'url(/static/TheGame/sprites/' + Class + '/body.png)'; //sets image
        Body.style.backgroundSize = '100% 100%';                                  //scales image to the correct size
        bShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/bodyshield.png)';
        bShield.style.backgroundSize = '100% 100%';
        Arm.style.background = 'url(/static/TheGame/sprites/' + Class + '/arm.png)';
        Arm.style.backgroundSize = '100% 100%';
        aShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/armshield.png)';
        aShield.style.backgroundSize = '100% 100%';
        weapon.style.background = 'url(/static/TheGame/sprites/weapons/' + Weapon + '.png)';
        weapon.style.backgroundSize = '100% 100%';
    }
    
    setupCharacter("{{champion.sprite}}", "{{champion.primaryWeapon}}");
</script>
  {% endblock%}
</html>
