{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-md-3 order-md-3 container">
            <div class="row stat-highlight mt-3">
                <h1>Equipped Items</h1>
                    {% if champion.primaryWeapon %}
                    <div class="col-sm-12 text-start border border-dark upgrade-button-holder">
                        <h5>{{champion.primaryWeapon.name}}</h5>
                        <p>{{champion.primaryWeapon|safe}}</p>
                        <div class="align-self-end">
                            <button class="top-bar-button" type="submit" onclick="UnquipItem('{{champion.primaryWeapon.pk}}')">
                                Unequip
                            </button>
                            <button class="top-bar-button" type="submit" onclick="submitData('{{champion.primaryWeapon.pk}}')">
                                Upgrade
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    {% if champion.armour %}
                    <div class="col-sm-12 text-start border border-dark upgrade-button-holder">
                        <h5>{{champion.armour.name}}</h5>
                        <p>{{champion.armour|safe}}</p>
                        <div class="align-self-end">
                            <button class="top-bar-button" type="submit" onclick="UnquipItem('{{champion.armour.pk}}')">
                                Unequip
                            </button>
                            <button class="top-bar-button" type="submit" onclick="submitData('{{champion.armour.pk}}')">
                                Upgrade
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    {% if champion.auxItem1 %}
                    <div class="col-sm-4 text-start border border-dark upgrade-button-holder">
                        <h5>{{champion.auxItem1.name}}</h5>
                        <p>{{champion.auxItem1|safe}}</p>
                        <div class="align-self-end">
                            <button class="top-bar-button" type="submit" onclick="UnquipItem('{{champion.auxItem1.pk}}')">
                                Unequip
                            </button>
                            <button class="top-bar-button" type="submit" onclick="submitData('{{champion.auxItem1.pk}}')">
                                Upgrade
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    {% if champion.auxItem2 %}
                    <div class="col-sm-4 text-start border border-dark upgrade-button-holder">
                        <h5>{{champion.auxItem2.name}}</h5>
                        <p>{{champion.auxItem2|safe}}</p>
                        <div class="align-self-end">
                            <button class="top-bar-button" type="submit" onclick="UnquipItem('{{champion.auxItem2.pk}}')">
                                Unequip
                            </button>
                            <button class="top-bar-button" type="submit" onclick="submitData('{{champion.auxItem2.pk}}')">
                                Upgrade
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    {% if champion.auxItem3 %}
                    <div class="col-sm-4 text-start border border-dark upgrade-button-holder">
                        <h5>{{champion.auxItem3.name}}</h5>
                        <p>{{champion.auxItem3|safe}}</p>
                        <div class="align-self-end">
                            <button class="top-bar-button" type="submit" onclick="UnquipItem('{{champion.auxItem3.pk}}')">
                                Unequip
                            </button>
                            <button class="top-bar-button" type="submit" onclick="submitData('{{champion.auxItem3.pk}}')">
                                Upgrade
                            </button>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div>
        <div class="col-md-6 order-md-3 container">
            <div class="row stat-highlight mt-3">
                <h1>Inventory</h1>
                {%for i in items%}
                    <div class="col-sm-4 text-start border border-dark upgrade-button-holder" >
                        <div>
                            <h5>{{i.name}}</h5>
                            <p>{{i|safe}}</p>
                        </div>
                        <div class="align-self-end">
                            <button class="top-bar-button" type="submit" onclick="EquipItem('{{i.pk}}')">
                                Equip
                            </button>
                            <button class="top-bar-button" type="submit" onclick="submitData('{{i.pk}}')">
                                Upgrade
                            </button>
                            <button class="top-bar-button" type="submit" onclick="SellItem('{{i.pk}}')">
                                Sell
                            </button>
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
        <div class="col-md-3 order-md-3 container">
            <div class="stat-highlight mt-3">
                    <h3>Stats:</h3>
                    <p>
                    Health: {{champion.pHealth}}<br>
                    Athletics: {{champion.pAthletics}}<br>
                    Brains: {{champion.pBrain}}<br>
                    Control: {{champion.pControl}}
                    </p>
            </div>
        </div>
    </div>
    </div>
    
    <script>
        function submitData(pk)
        {
            var f = document.createElement('form');
            f.action='/itemUpgrade/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);
            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();
        }

        function EquipItem(pk)
        {
            var f = document.createElement('form');
            f.action='/equipItem/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);

            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();
        }

        function UnquipItem(pk)
        {
            var f = document.createElement('form');
            f.action='/unequipItem/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);

            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();
        }

        function SellItem(pk)
        {
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function() {
                if (this.readyState == 4){
                    window.location.reload();
                    //window.location.href = window.location.href;
                }
            }

            xhr.open("POST", '/sellItem/');
            xhr.setRequestHeader("Content-type", "application/json");
            const csrfToken = getCookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrfToken);

            content = JSON.stringify(
                {
                    "itemPK" : pk,
                }
            );

            xhr.send(content);
        }
        
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
  {% endblock%}
</html>
