{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-md order-md-1 order-1">
            <h1>character image</h1>
        </div>
        <div class="col-6 col-md order order-3 order-md-2">
            <div class="container stat-highlight">
                <h1>Buy stats:</h1>
                <ul style="list-style-type: none;">
                    <li>
                        <h3>Character</h3>
                    </li>
                    <li>
                        <form action="{% url 'buyPHealth' %}" method="post">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buyPAthletics' %}" method="post">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Athletics</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buyPBrain' %}" method="post">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Brains</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buyPControl' %}" method="post">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Control</button>
                        </form>
                    </li>
                </ul>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-6 col-md order-2 order-md-3">
            <div class="container-floating stat-highlight">
                <ul>
                    <h3>Stats:</h3>
                    <li>
                        Health: {{champion.pHealth}}
                    </li>
                    <li>
                        Athletics: {{champion.pAthletics}}
                    </li>
                    <li>
                        Brains: {{champion.pBrain}}
                    </li>
                    <li>
                        Control: {{champion.pControl}}
                    </li>
                </ul>
            </div>
            <div class="container-floating stat-highlight">
                <ul>
                    <h3>Resources:</h3>
                    {%for r in resources%}
                    <li>
                        {{r.0}}: {{r.1}}
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    </div>

  {% endblock%}
</html>
