{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-md order-md-1 order-1">
            <div class="container stat-highlight">
                <h1>Character Image</h1>

            </div>
        </div>
        <div class="col-6 col-md order order-3 order-md-2">
            <div class="container stat-highlight">
                <h1>Inventory</h1>
                {%for i in items%}
                <li>
                    {{i.0}}: {{i.1}}
                </li>
                {%endfor%}
            </div>
        </div>
        <div class="col-6 col-md order-2 order-md-3">
            <div class="container-floating stat-highlight">
                <ul>
                    <h3>Stats:</h3>
                    <li>
                        Health: {{champion.pHealth}}
                    </li>
                    <li>
                        Athletics: {{champion.pAthletics}}
                    </li>
                    <li>
                        Brains: {{champion.pBrain}}
                    </li>
                    <li>
                        Control: {{champion.pControl}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>

  {% endblock%}
</html>
