{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-sm-4">
            <h1>character image</h1>
        </div>
        <div class="col-sm-4">
            <div class="container stat-highlight">
                <h1>Buy stats here:</h1>
                <ul style="list-style-type: none;">
                    <li>
                        <form action="{% url 'buyphealth' %}">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buyptoughness' %}">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Toughness</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buypevasion' %}">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buydamage' %}">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buyaccuracy' %}">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buyattackspeed' %}">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buyahealth' %}">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buyatoughness' %}">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'buyaevasion' %}">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container-floating stat-highlight">
                <ul>
                    <h3>Stats:</h3>
                    <li>
                        Health: {{stats.pHealth}}
                    </li>
                    <li>
                        Toughness: {{stats.pToughness}}
                    </li>
                    <li>
                        Evasion: {{stats.pEvasion}}
                    </li>
                </ul>
            </div>
            <div class="container-floating stat-highlight">
                <ul>
                    <h3>Resources:</h3>
                    {%for r in resources%}
                    <li>
                        {{r.0}}: {{r.1}}
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    </div>

  {% endblock%}
</html>
