{% extends 'TheGame/navbarTemplate.html' %}

{% block headBlock%}
<title>Character Viewer</title>
{% endblock %}

{% block bodyBlock%}

<style>
    button.top-bar-button{
        background-color: rgb(175, 60, 60);
        color: white;
        border-color: rgb(100, 60, 60);
    }

    div.stat-highlight{
        background-color: rgb(150, 80, 80);
        padding: 2%;
        margin: 5%;
        max-width: 100%;
        max-height: 100%;
    }

    div.top-bar-container {
        background-color: rgb(100, 60, 60);
        padding: 1%;
        margin-bottom: 1%;
    }
</style>

<div class="text-center" style="background-color: rgb(75, 40, 40);">
    <div class="container-floating top-bar-container">
        <div class="row justify-content-around">
            <button class="col-3 top-bar-button">
                    <h1>Factions</h1>
            </button>
            <button class="col-4 top-bar-button">
                    <h1>Inventory</h1>
            </button>
            <button class="col-3 top-bar-button">
                    <h1>Map</h1>
            </button>
        </div>
    </div>

    <div class="container-floating" style="color:white">
        <div class="row">
            {% load static %}
            <div class="col-3">
                <ul style="list-style-type: none;">
                    <li >
                        <a href="/qr/qr-landing">   
                            <div class="stat-highlight">
                                <img src="{% static 'TheGame/scanQRButton.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
                            </div>
                        </a>
                    </li>
                    <li >
                        <a href="/characterMenu">
                            <div class="stat-highlight">
                                <img src="{% static 'TheGame/buyStatsButton.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
                            </div>
                        </a>
                    </li>
                    <li >
                        <a href="/battleSelect">
                            <div class="stat-highlight">
                                <img src="{% static 'TheGame/battleButton.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-6">
                <h1>character image</h1>
            </div>

            <div class="col-3">
                <div class="container-floating stat-highlight">
                    <ul>
                        <h3>Stats:</h3>
                        <li>
                            Health: {{stats.pHealth}}
                        </li>
                        <li>
                            Toughness: {{stats.pToughness}}
                        </li>
                        <li>
                            Evasion: {{stats.pEvasion}}
                        </li>
                    </ul>
                </div>
                <div class="container-floating stat-highlight">
                    <ul>
                        <h3>Resources:</h3>
                        {%for r in resources%}
                        <li>
                            {{r.0}}: {{r.1}}
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="color:white">
        <div class="row">
            <div class="col-sm">
                <h1>GOOD PLACE</h1>
            </div>
            <div class="col-sm">
                <h1>A PLACE</h1>
            </div>
            <div class="col-sm">
                <h1>BAD PLACE</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}