{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
<link rel="stylesheet" href="{% static 'TheGame/styles/character_show.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-md-2 order-1" style="width:32%; float:left;">
            <div class="container stat-highlight">
                <h1> Character </h1>
            </div>
            <div id ="Character">
                <div id ="BodyShield"></div>
                <div id ="Body"></div>
                <div id= "ArmShield"></div>
                <div id ="Weapon"></div>
                <div id ="Arm"></div>
            </div>
        </div>
        <div class="col-md-2 order-2" style="width:33%; float:centre;">
            <div class="container stat-highlight">
                <h1>Buy stats:</h1>
                <ul style="list-style: none; padding: 0;">
                    <li>
                        <h3>Character</h3>
                    </li>
                    <li>
                        <form action="{% url 'buyPHealth' %}" method="post">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Health</button>
                        </form>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.message == 'xH' %}
                                <div class = "alert alert-danger alert-dismissible fade show">
                                    Not enough resources to buy Health.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
                    <li>
                        <form action="{% url 'buyPAthletics' %}" method="post">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Athletics</button>
                        </form>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.message == 'xA' %}
                                <div class = "alert alert-danger alert-dismissible fade show">
                                    Not enough resources to buy Athletics.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
                    <li>
                        <form action="{% url 'buyPBrain' %}" method="post">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Brains</button>
                        </form>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.message == 'xB' %}
                                <div class = "alert alert-danger alert-dismissible fade show">
                                    Not enough resources to buy Brain.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
                    <li>
                        <form action="{% url 'buyPControl' %}" method="post">
                            {% csrf_token %}
                            <button class="btn buyButton" type="submit">Buy Control</button>
                        </form>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.message == 'xC' %}
                                <div class = "alert alert-danger alert-dismissible fade show">
                                    Not enough resources to buy Control.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if not message.message == 'xH' %}
                            {% if not message.message == 'xA' %}
                                {% if not message.message == 'xB' %}
                                    {% if not message.message == 'xC' %}
                                        {% if not message.message == 'Not enough resources' %}
                                            <li>{{ message }}</li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-2 order-3" style="width:32%; float:right">
            <div class="container stat-highlight">
                <h1>Stats:</h1>
                <p>
                    Health: {{champion.pHealth}}<br>
                    Athletics: {{champion.pAthletics}}<br>
                    Brains: {{champion.pBrain}}<br>
                    Control: {{champion.pControl}}
                </p>
            </div>
            <div class="container stat-highlight">
                <ul style="list-style: none; padding: 0;">
                    <h3>Resources:</h3>
                    {%for r in resources%}
                    <li>
                        {{r.0}}: {{r.1}}
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    </div>

<script> 

    function setupCharacter(Class, Weapon) {
        //left character variables
        var Body = document.getElementById("Body");
        var bShield = document.getElementById("BodyShield");
        var Arm = document.getElementById("Arm");
        var aShield = document.getElementById("ArmShield");
        var weapon = document.getElementById("Weapon");
        
        //sets sprites to the correct sprite and size
        Body.style.background = 'url(/static/TheGame/sprites/' + Class + '/body.png)'; //sets image
        Body.style.backgroundSize = '100% 100%';                                  //scales image to the correct size
        bShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/bodyshield.png)';
        bShield.style.backgroundSize = '100% 100%';
        Arm.style.background = 'url(/static/TheGame/sprites/' + Class + '/arm.png)';
        Arm.style.backgroundSize = '100% 100%';
        aShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/armshield.png)';
        aShield.style.backgroundSize = '100% 100%';
        weapon.style.background = 'url(/static/TheGame/sprites/weapons/' + Weapon + '.png)';
        weapon.style.backgroundSize = '100% 100%';
    }
    
    setupCharacter("{{champion.sprite}}", "{{champion.primaryWeapon}}");
</script>
  {% endblock%}
</html>
