{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/factions.css' %}">
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css' %}">

<title>Factions</title>

{% endblock %}

{% block bodyBlock %}

<div class="container" style="color:white;">
    <div class="row">
        <div class="col-sm">

            <button class="container top-bar-button" type="submit" onclick="chooseFaction('hacker')">
                <h3>Hacker</h3>
            </button>
            
            <div id ="hCharacter">
                <div id ="hBodyShield"></div>
                <div id ="hBody"></div>
                <div id= "hArmShield"></div>
                <div id ="hArm"></div>
            </div>
        </div>

        <div class="col-sm">

            <button class="container top-bar-button" type="submit" onclick="chooseFaction('psionic')">
                <h3>Psionic</h3>
            </button>
            <div id ="pCharacter">
                <div id ="pBodyShield"></div>
                <div id ="pBody"></div>
                <div id= "pArmShield"></div>
                <div id ="pWeapon"></div>
                <div id ="pArm"></div>
            </div>
        </div>

        <div class="col-sm">
            <button id="soldier" class="container top-bar-button" type="submit" onclick="chooseFaction('soldier')">
                <h3>Soldier</h3>
            </button>
            <div id ="sCharacter">
                <div id ="sBodyShield"></div>
                <div id ="sBody"></div>
                <div id= "sArmShield"></div>
                <div id ="sWeapon"></div>
                <div id ="sArm"></div>
            </div>
        </div>
    </div>
</div>

<script>         
    var selectedClass = '{{champion.sprite}}';

    function chooseFaction(faction)
    {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (this.readyState == 4){
                window.location.reload();
            }
        }

        xhr.open("POST", '/selectfactions/');
        xhr.setRequestHeader("Content-type", "application/json");
        const csrfToken = getCookie('csrftoken');
        xhr.setRequestHeader("X-CSRFToken", csrfToken);
        console.log(faction);
        content = JSON.stringify(
            {
                "faction" : faction,
            }
        );

        xhr.send(content);
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
  
    function setupCharacters() {
        //hacker character variables
        var hBody = document.getElementById("hBody");
        var hbShield = document.getElementById("hBodyShield");
        var hArm = document.getElementById("hArm");
        var haShield = document.getElementById("hArmShield");
        
        //psionic variables
        var pBody = document.getElementById("pBody");
        var pbShield = document.getElementById("pBodyShield");
        var pArm = document.getElementById("pArm");
        var paShield = document.getElementById("pArmShield");
        
        //soldier variables
        var sBody = document.getElementById("sBody");
        var sbShield = document.getElementById("sBodyShield");
        var sArm = document.getElementById("sArm");
        var saShield = document.getElementById("sArmShield");
        
        
        var Class = "hacker";
        
        //sets sprites to the correct sprite and size
        hBody.style.background = 'url(/static/TheGame/sprites/' + Class + '/body.png)'; //sets image
        hBody.style.backgroundSize = '100% 100%';                                  //scales image to the correct size
        hbShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/bodyshield.png)';
        hbShield.style.backgroundSize = '100% 100%';
        hArm.style.background = 'url(/static/TheGame/sprites/' + Class + '/arm.png)';
        hArm.style.backgroundSize = '100% 100%';
        haShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/armshield.png)';
        haShield.style.backgroundSize = '100% 100%';
        
        var Class = "psionic";
        
        //sets sprites to the correct sprite and size
        pBody.style.background = 'url(/static/TheGame/sprites/' + Class + '/body.png)'; //sets image
        pBody.style.backgroundSize = '100% 100%';                                  //scales image to the correct size
        pbShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/bodyshield.png)';
        pbShield.style.backgroundSize = '100% 100%';
        pArm.style.background = 'url(/static/TheGame/sprites/' + Class + '/arm.png)';
        pArm.style.backgroundSize = '100% 100%';
        paShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/armshield.png)';
        paShield.style.backgroundSize = '100% 100%';
        
        var Class = "soldier";
        
        //sets sprites to the correct sprite and size
        sBody.style.background = 'url(/static/TheGame/sprites/' + Class + '/body.png)'; //sets image
        sBody.style.backgroundSize = '100% 100%';                                  //scales image to the correct size
        sbShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/bodyshield.png)';
        sbShield.style.backgroundSize = '100% 100%';
        sArm.style.background = 'url(/static/TheGame/sprites/' + Class + '/arm.png)';
        sArm.style.backgroundSize = '100% 100%';
        saShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/armshield.png)';
        saShield.style.backgroundSize = '100% 100%';
        
        return true;
        
    }
    
    function highlight(selected){
        var h = document.getElementById("hacker");
        var p = document.getElementById("psionic");
        var s = document.getElementById("soldier");
        
        switch (selected) {
            case "hacker":
                h.style.outline = 'thick solid cyan';
                p.style.outline = '';
                s.style.outline = '';
                selectedClass = "hacker";
                break;
            case "psionic":
                h.style.outline = '';
                p.style.outline = 'thick solid cyan';
                s.style.outline = '';
                selectedClass = "psionic";
                break;
            case "soldier":
                h.style.outline = '';
                p.style.outline = '';
                s.style.outline = 'thick solid cyan';
                selectedClass = "soldier";
                break;
        }
    }
    
    
    setupCharacters();
    highlight(selectedClass);
    
    function highlight(faction) {
        var h = document.getElementById("hacker");
        var p = document.getElementById("psionic");
        var s = document.getElementById("soldier");
        
        //switches the selected class highlight to the correct box
        switch (faction) {
            case "hacker":
                h.style.outline = 'thick solid cyan';
                p.style.outline = '';
                s.style.outline = '';
                selectedClass = "hacker";
                break;
            case "psionic":
                h.style.outline = '';
                p.style.outline = 'thick solid cyan';
                s.style.outline = '';
                selectedClass = "psionic";
                break;
            case "soldier":
                h.style.outline = '';
                p.style.outline = '';
                s.style.outline = 'thick solid cyan';
                selectedClass = "soldier";
                break;
        }
    }
    setupCharacters();
    highlight(selectedClass);
</script>


{% endblock %}