
{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}

<title>Character Viewer</title>
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
<link rel="stylesheet" href="{% static 'TheGame/styles/character_show.css'%}">
{% endblock %}

{% block bodyBlock%}

<div class="container-floating" style="color:white">
    <div class="row" style="width:98%;">
        {% load static %}
        <div class="col-6 col-md-3 order-3 order-md-1">
            <ul style="list-style-type: none;">
                <li >
                    <a href="/qr/qr-landing">   
                        <div class="stat-highlight">
                            <img src="{% static 'TheGame/images/scanQRButton.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
                        </div>
                    </a>
                </li>
                <li >
                    <a href="/characterMenu">
                        <div class="stat-highlight">
                            <img src="{% static 'TheGame/images/buyStatsButton.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
                        </div>
                    </a>
                </li>
                <li >
                    <a href="/battleSelect">
                        <div class="stat-highlight">
                            <img src="{% static 'TheGame/images/battleButton.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-6 order-1 order-md-2">
            <div class="row stat-highlight mt-3">
                <h1>Character</h1>
            </div>
            <div id ="Character">
                <div id ="BodyShield"></div>
                <div id ="Body"></div>
                <div id= "ArmShield"></div>
                <div id ="Weapon"></div>
                <div id ="Arm"></div>
            </div>
        </div>

        <div class="col-6 col-md-3 order-2 order-md-3">
            <div class="container-floating stat-highlight">
                <h3>Stats:</h3>
                <p>
                    Health: {{champion.pHealth}}<br>
                    Athletics: {{champion.pAthletics}}<br>
                    Brains: {{champion.pBrain}}<br>
                    Control: {{champion.pControl}}
                </p>
            </div>
            <div class="container-floating stat-highlight">
                    <h3>Resources:</h3>
                <ul>
                    {%for r in resources%}
                    <li>
                        {{r.0}}: {{r.1}}
                    </li>
                    {%endfor%}
                </ul>
            </div>
            <a href="/privacypolicy">Privacy Policy</a>
        </div>
    </div>
</div>

<script> 

    function setupCharacter(Class, Weapon) {
        //left character variables
        var Body = document.getElementById("Body");
        var bShield = document.getElementById("BodyShield");
        var Arm = document.getElementById("Arm");
        var aShield = document.getElementById("ArmShield");
        var weapon = document.getElementById("Weapon");
        
        //sets sprites to the correct sprite and size
        Body.style.background = 'url(/static/TheGame/sprites/' + Class + '/body.png)'; //sets image
        Body.style.backgroundSize = '100% 100%';                                  //scales image to the correct size
        bShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/bodyshield.png)';
        bShield.style.backgroundSize = '100% 100%';
        Arm.style.background = 'url(/static/TheGame/sprites/' + Class + '/arm.png)';
        Arm.style.backgroundSize = '100% 100%';
        aShield.style.background = 'url(/static/TheGame/sprites/' + Class + '/armshield.png)';
        aShield.style.backgroundSize = '100% 100%';
        weapon.style.background = 'url(/static/TheGame/sprites/weapons/' + Weapon + '.png)';
        weapon.style.backgroundSize = '100% 100%';
    }
    setupCharacter("{{champion.sprite}}", "{{champion.primaryWeapon}}");
</script>

{% endblock %}