{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
<title>Character Viewer</title>
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
{% endblock %}

{% block bodyBlock%}

<div class="container-floating" style="color:white">
    <div class="row">
        {% load static %}
        <div class="col col-md-3 order-3 order-md-1">
            <ul style="list-style-type: none;">
                <li >
                    <a href="/qr/qr-landing">   
                        <div class="stat-highlight">
                            <img src="{% static 'TheGame/images/scanQRButton.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
                        </div>
                    </a>
                </li>
                <li >
                    <a href="/characterMenu">
                        <div class="stat-highlight">
                            <img src="{% static 'TheGame/images/buyStatsButton.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
                        </div>
                    </a>
                </li>
                <li >
                    <a href="/battleSelect">
                        <div class="stat-highlight">
                            <img src="{% static 'TheGame/images/battleButton.png' %}" alt="" style="max-height: 100%; max-width: 100%;">
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-3 order-1 order-md-2">
            <h1>character image</h1>
        </div>

        <div class="col col-md-3 order-2 order-md-3">
            <div class="container-floating stat-highlight">
                <ul>
                    <h3>Stats:</h3>
                    <li>
                        Health: {{stats.pHealth}}
                    </li>
                    <li>
                        Toughness: {{stats.pToughness}}
                    </li>
                    <li>
                        Evasion: {{stats.pEvasion}}
                    </li>
                </ul>
            </div>
            <div class="container-floating stat-highlight">
                <ul>
                    <h3>Resources:</h3>
                    {%for r in resources%}
                    <li>
                        {{r.0}}: {{r.1}}
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container" style="color:white">
    <div class="row">
        <div class="col-sm">
            <h1>GOOD PLACE</h1>
        </div>
        <div class="col-sm">
            <h1>A PLACE</h1>
        </div>
        <div class="col-sm">
            <h1>BAD PLACE</h1>
        </div>
    </div>
</div>

{% endblock %}