{% extends 'TheGame/navbarTemplate.html' %}

{% block headblock %}
<title>Homepage</title>
{% endblock %}

{% block bodyBlock %}

  <style>
    
    button.navigationBtn {
      margin-bottom: 6px !important;
      width: 100%;
      font-size: medium;
    }

  </style>

    <main>

    <div class="container text-center" style="padding-bottom: 12px;">
      <div class="jumbotron font-weight-bold">
        <h1 style="font-weight: bold;">{{user.username}}'s Homepage</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-6 order-2 order-sm-1">
        <button class="btn btn-secondary navigationBtn"  style="background-color:lavender !important;" onclick="onQRButtonClick()">
          <h3 class="text-dark">Scan a new QR code</h1>
          <p class="text-dark">scan a new qr code and get some new resources!</p>
        </button>
        <button class="btn btn-secondary navigationBtn" style="background-color:aquamarine !important;" onclick="onManageButtonClick()">
          <h3 class="text-dark">Manage your champion</h1>
          <p class="text-dark">spend your resources on new upgrades!</p>
        </button>
        <button class="btn btn-secondary navigationBtn" style="background-color:antiquewhite !important;" onclick="onChallengeButtonClick()">
          <h3 class="text-dark">Challenge an opponent</h1>
          <p class="text-dark">take your champion to battle!</p>
        </button>
      </div>

      <div class="col-12 col-sm-6 justify-content-start order-1 order-sm-2">
        <p>second col</p>
      </div>

      <div class="col-sm-3 col-6 order-3 order-sm-3 text-center">
        {% if resources %}
        <h3 style="text-decoration: underline;">Your resources</h2>
        <ul class="list-group">
          {% for res in resources %}
          <div class="col-sm text-center">
            <li class="list-group-item">
              {{res.0.name}}: {{res.1}}
            </li>
          </div>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>


  </main>

  <script>
    function onQRButtonClick(){
      window.location.href = "/qr/qr-landing"
    }
    function onManageButtonClick(){
      window.location.href = "/characterMenu"
    }
    function onChallengeButtonClick(){
      window.location.href = window.location.href
    }
  </script>

{% endblock %}