{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-md-3 order-md-3 container">
            <div class="stat-highlight">
                <h1>Item Image</h1>

            </div>
        </div>
        <div class="col-md-6 order-md-3 container">
            <div class="row stat-highlight">
                {% if statPacks %}
                {% for pack in statPacks%}
                <button class="col-sm-4 top-bar-button" type="submit" onclick="upgradeStat('{{item.pk}}', '{{pack.pk}}')">
                    <p>{{pack.name}}</p>
                    <p>{{pack|safe}}</p>
                </button>
                {% endfor %}
                {% else %}
                <h1>No stat packs to upgrade with</h1>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 order-md-3 container">
            <div class="stat-highlight">
                    <h3>{{item.name}}:</h3>
                    <p>
                        {{item|safe}}
                    </p>
            </div>
            <div class="stat-highlight">
                <ul>
                    <h3>Resources:</h3>
                    {%for r in resources%}
                        <p>{{r.0}}: {{r.1}}<br></p>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    </div>
    <script>
        function submitData(pk, packPK)
        {
            var f = document.createElement('form');
            f.action='/upgradeStatOnItem/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);

            var packIDForm = document.createElement('input');
            packIDForm.type='hidden';
            packIDForm.name='packPK';
            packIDForm.value=pk;
            f.appendChild(packIDForm);

            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();

        }

        function EquipItem(pk)
        {
            var f = document.createElement('form');
            f.action='/equipItem/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);

            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();
        }

        function SellItem(pk)
        {
            var f = document.createElement('form');
            f.action='/sellItem/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);

            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();
        }

        function upgradeStat(pk, packPK)
        {
            // var f = document.createElement('form');
            // f.action='/upgradeStatOnItem/';
            // f.method='POST';
            // var i=document.createElement('input');
            // i.type='hidden';
            // i.name='itemPK';
            // i.value=pk;
            // f.appendChild(i);

            // var t=document.createElement('input');
            // t.type='hidden';
            // t.name='csrfmiddlewaretoken';
            // t.value=getCookie('csrftoken');;
            // f.appendChild(t);

            // document.body.appendChild(f);
            // f.submit();

            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function() {
                if (this.readyState == 4){
                    document.location.reload()
                }
            }

            xhr.open("POST", '/upgradeStatOnItem/');
            xhr.setRequestHeader("Content-type", "application/json");
            const csrfToken = getCookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrfToken);

            content = JSON.stringify(
                {
                    "itemPK" : pk,
                    "packPK" : packPK
                }
            );

            xhr.send(content);
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
  {% endblock%}
</html>
