{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
    <div class="row">
        <div class="col-md-3 order-md-3 container">
            <div class="stat-highlight">
                <h1>Item Image</h1>

            </div>
        </div>
        <div class="col-md-6 order-md-3 container">
            <div class="row stat-highlight">
                <h1>{{item.name}}</h1>
                <div class="col-sm-4 order-sm-1 container">
                    <button class="top-bar-button" type="submit" onclick="EquipItem('{{item.pk}}')">
                        <p>Equip</p>
                    </button>
                    <button class="top-bar-button" type="submit" onclick="SellItem('{{item.pk}}')">
                        <p>Sell</p>
                    </button>
                </div>
                <div class="col-sm-6 order-sm-2 container">
                    <div class="container">
                        <h5>Upgrade:</h5>
                        <button class="top-bar-button" type="submit" onclick="upgradeStat('{{item.pk}}')">
                            <p>Upgrade</p>
                        </button>
                        <button class="top-bar-button" type="submit" onclick="upgradeStat('{{item.pk}}')">
                            <p>Upgrade</p>
                        </button>
                        <button class="top-bar-button" type="submit" onclick="upgradeStat('{{item.pk}}')">
                            <p>Upgrade</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 order-md-3 container">
            <div class="stat-highlight">
                    <h3>{{item.name}}:</h3>
                    <p>
                        {{item|safe}}
                    </p>
            </div>
            <div class="stat-highlight">
                <ul>
                    <h3>Resources:</h3>
                    {%for r in resources%}
                        <p>{{r.0}}: {{r.1}}<br></p>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    </div>
    <script>
        function submitData(pk)
        {
            var f = document.createElement('form');
            f.action='/itemUpgrade/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);

            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();
        }

        function EquipItem(pk)
        {
            var f = document.createElement('form');
            f.action='/equipItem/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);

            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();
        }

        function SellItem(pk)
        {
            var f = document.createElement('form');
            f.action='/sellItem/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);

            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();
        }

        function upgradeStat(pk)
        {
            var f = document.createElement('form');
            f.action='/upgradeStatOnItem/';
            f.method='POST';
            var i=document.createElement('input');
            i.type='hidden';
            i.name='itemPK';
            i.value=pk;
            f.appendChild(i);

            var t=document.createElement('input');
            t.type='hidden';
            t.name='csrfmiddlewaretoken';
            t.value=getCookie('csrftoken');;
            f.appendChild(t);

            document.body.appendChild(f);
            f.submit();
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
  {% endblock%}
</html>
