{% extends 'TheGame/bootstrapBoilerPlate.html' %}

{% block headBlock %}
<style>

    form.signForm{
        margin-top: 20%;
        margin-left: 35%;
        margin-right: 35%;
    }

</style>

<script>
    function validateForm(){
        let f = document.forms["mainForm"];
        let emailString = f["email"].value;
        const emailRegEx = /^\w+@\w+\.\w+$/
        if (emailRegEx.exec(emailString) != null){
            return true;
        }
        alert("email address formatted incorrectly");
        return false;
    }
</script>


{% endblock %}


{% block bodyBlock %}
<body class="text-center">

<main class="form-signin">

    <form name="mainForm" class="signForm" action="logInEndPoint" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <h1 class="h2 mb-3">Sign in here</h1>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="email" name="email" id="emailInput" required>
            <label for="emailInput">email address</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="password" name="password" id="passwordInput" required>
            <label for="passwordInput">password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" value="Submit">
            Sign in
        </button>
    </form>

</main>

</body>

{% endblock %}