{% extends 'TheGame/navbarTemplate.html' %}

{% block bodyBlock %}
<h1>this is the page for adding new bosses to the system</h1>

<form action="/newBossValidation" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" placeholder="name" name="name" class="form-control form-control-lg" required>
        <br>

        <label for="healthInput">Base Health</label>
        <input type="number" id="pHealthInput" name="pHealth" required>
        <br>

        <label for="pToughnessInput">Base Athletics</label>
        <input type="number" id="pToughnessInput" name="pAthletics" required>
        <br>

        <label for="pEvasionInput">Base Brains</label>
        <input type="number" id="pEvasionInput" name="pBrain" required>
        <br>
        
        <label for="damageInput">Base Control</label>
        <input type="number" id="damageInput" name="pControl" required>
        <br>

        <label for="primaryWeaponIput">Primary weapon</label>
        <input type="text" id="primaryWeaponInput" name="primaryWeapon" required>
        <br>

        <label for="armourInput">armour</label>
        <input type="text" id="armourInput" name="armour" required>
        <br>

        <label for="aux1Input">Aux item 1</label>
        <input type="text" id="aux1Input" name="auxItem1" required>
        <br>

        <button type="submit" class="btn">Create Boss</button>
    </div>
</form>


<div class="container">
    <div class="row">
        <div class="col-6">
            <ul>
                <h2>Current bosses</h2>
                {% for boss in bosses %}
                <li>
                    {{ boss.name }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-6">
            <ul>
                <h2>Current Items</h2>
                {% for item in items %}
                <li>
                    {{ item.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}