{% extends 'TheGame/CharacterSettingsTemplate.html' %}

{% block headBlock %}
{% load static %}
<link rel="stylesheet" href="{% static 'TheGame/styles/CharacterPages.css'%}">
<link rel="stylesheet" href="{% static 'TheGame/styles/character_show.css'%}">
{% endblock %}

{% block bodyBlock %}
<div class="container-floating" style="color: white;">
        <div class="col-md-6 order-md-2 order-3 container">
            <div class="row stat-highlight">
                <h1>Privacy Policy</h1>
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock%}
</html>
