{% extends 'TheGame/bootstrapBoilerPlate.html' %}

{% block headBlock %}
<style>

    form.signForm{
        margin-left: 35%;
        margin-right: 35%;
    }

</style>

<script>
    function validateForm(){
        let f = document.forms["mainForm"];
        let emailString = f["email"].value;
        let pword = f["password"].value;
        let cpword = f["confirmPassword"].value;
        const emailRegEx = /^\w+@\w+\.\w+$/;
        if (!(emailRegEx.exec(emailString) != null)){
            alert("email address formatted incorrectly");
            return false;
        }
        if (!(pword === cpword)){
            alert("passwords do not match");
            return false;
        }
        return true;
    }
</script>


{% endblock %}


{% block bodyBlock %}

<nav class="navbar mb-4 navbar-expand-md navbar-dark bg-dark">
    <div class="" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" >Log in/register</a>
            </li>
        </ul>
    </div>
</nav>

<main class="form-signin" class="text-center">

    <form name="mainForm" class="signForm" action="registerEndPoint" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <h1 class="h2 mb-3">Register here</h1>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="email" name="email" id="emailInput" required>
            <label for="emailInput">email address</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="password" name="password" id="passwordInput" required>
            <label for="passwordInput">password</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="confirmPassword" name="confirmPassword" id="confirmPasswordInput" required>
            <label for="passwordInput">confim password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" value="Submit">
            Register
        </button>
    </form>

</main>


{% endblock %}